dash==1.16.2
dash-core-components==1.12.1
dash-html-components==1.1.1
dash-renderer==1.8.2
dash-table==4.10.1
Flask==1.1.2
Flask-Compress==1.5.0
gunicorn==20.0.4
lxml==4.5.2
numpy==1.18.5
pandas==1.1.2
plotly==4.10.0
scikit-learn==0.23.2
scipy==1.5.2
sklearn==0.0
yfinance==0.1.54