* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}
.container {
  display: flex;
}

.nav {
  /*position: fixed;*/
  width: 25vw;
  /* height: 100%; */
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(5, 107, 107);
}

.content {
  width: 65vw;
  padding: 1rem 5rem;
}

.start {
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: center;
  font-size: larger;
  color: rgb(166, 243, 248);
}

.input-place p {
  color: antiquewhite;
  font-size: larger;
}
.form {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 1.5rem;
}
.form button {
  width: 5rem;
  background-color: yellow;
  color: black;
  border: none;
}
.buttons {
  margin: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
}
#forecast {
  margin-top: 2rem;
  height: 2.2rem;
}
#n_days {
  height: 2rem;
  margin-top: 2rem;
}
.buttons button {
  width: 7.5rem;
  height: 2.5rem;
  border: none;
  background-color: rgb(166, 255, 0);
  color: rgb(0, 0, 0);
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}
.header p {
  font-size: 4rem;
  margin-left: 3rem;
  line-height: 80%;
}

#logo {
  max-width: 15rem;
  height: auto;
}
